.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
tasks.xml
workspace.xml
.iws

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.idea/gradle.xml
.idea/misc.xml
app/app.iml
